
models/GRUv3_ECFP/epoch_10.pt
models/GRUv3_ECFP/epoch_100.pt
models/GRUv3_ECFP/epoch_110.pt
models/GRUv3_ECFP/epoch_120.pt
models/GRUv3_ECFP/epoch_130.pt
models/GRUv3_ECFP/epoch_140.pt
models/GRUv3_ECFP/epoch_90.pt
models/GRUv3_ECFP/epoch_80.pt
models/GRUv3_ECFP/epoch_70.pt
models/GRUv3_ECFP/epoch_60.pt
models/GRUv3_ECFP/epoch_50.pt
models/GRUv3_ECFP/epoch_40.pt
models/GRUv3_ECFP/epoch_30.pt
models/GRUv3_ECFP/epoch_200.pt
models/GRUv3_ECFP/epoch_20.pt
models/GRUv3_ECFP/epoch_190.pt
models/GRUv3_ECFP/epoch_180.pt
models/GRUv3_ECFP/epoch_170.pt
models/GRUv3_ECFP/epoch_160.pt
models/GRUv3_ECFP/epoch_150.pt
models/GRUv3_klek/epoch_30.pt
models/GRUv3_klek/epoch_40.pt
models/GRUv3_klek/epoch_50.pt
models/GRUv3_klek/epoch_60.pt
models/GRUv3_klek/epoch_70.pt
models/GRUv3_klek/epoch_80.pt
models/GRUv3_klek/epoch_90.pt
models/GRUv3_klek/epoch_20.pt
models/GRUv3_klek/epoch_190.pt
models/GRUv3_klek/epoch_180.pt
models/GRUv3_klek/epoch_170.pt
models/GRUv3_klek/epoch_160.pt
models/GRUv3_klek/epoch_150.pt
models/GRUv3_klek/epoch_140.pt
models/GRUv3_klek/epoch_130.pt
models/GRUv3_klek/epoch_120.pt
models/GRUv3_klek/epoch_110.pt
models/GRUv3_klek/epoch_100.pt
models/GRUv3_klek/epoch_10.pt
data/train_data/RNN_dataset_ECFP.parquet
data/train_data/big_dataset_ECFP_train_90.parquet
data/train_data/big_dataset_ECFP_val_10.parquet
data/train_data/RNN_dataset_KRFP.parquet
data/train_data/big_dataset_std_val_10.parquet
